* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

#main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 0;
}

h1 > span {
    font-weight: bolder;
    font-size: 75px;
}

h2 {
    text-align: center;
}

.input, .output {
    width: 100%;
    border: 5px solid black;
    overflow: auto;
    height: 50vh;
}

.input {
    font-size: 15px;
    resize: none;
}

.output > p {
    padding: 0 6px;
    zoom: 0.6;
}

.statement {
    display: inline-flex;
    align-items: flex-start;
}

.statement > span {
    display: inline-block;
    width: 48px;
    height: 58px;
}

.statement > span > span {
    display: inline-flex;
    width: 100%;
    height: 100%;
    font-size: 80px;
    align-items: center;
    justify-content: center;
}

.statement > span > img {
    display: block;
}

.statement > span > div {
    width: 48px;
    height: 10px;
}

#menu_button {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.bar1, .bar2, .bar3 {
    width: 6vw;
    height: 1vw;
    background-color: #333;
    margin: 1vh 0;
    transition: 0.5s;
}

.change .bar1, .change .bar3 {
    opacity: 0;   
}

.settings {
    width: 100%;
    max-height: 0;
    text-align: center;
    font-size: 4vw;
    transition: 0.75s;
    overflow: hidden;
}

.show {
    display: block;    
    max-height: 500px;
}

.settings > div {
    padding: 10px;
}

select {
    font-size: inherit;
}

input[type="checkbox"] {
   width: 4vw;
   height: 4vw;
}

button {
    font-size: inherit;
}

footer {
    text-align: center;
}

.no_wrap {
    white-space: nowrap;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

@media print {
    .noPrint {
        display: none;
    }

    .output {
        border: none;
        overflow: visible;
        white-space: normal;
    }
}
